.text-accent {
    color: #d87093 !important;
}

.text-accent span {
    color: #444;
    font-weight: 300;
}

.letter-spacing {
    letter-spacing: 2px;
}

/* Nav Link Styling */
.nav-link {
    color: #666 !important;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #d87093 !important;
}

/* Active Route Styling */
.active-link {
    color: #d87093 !important;
}

.active-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d87093;
}

/* Special Contact Button Style */
.btn-contact.active-link::after {
    display: none; /* Remove underline for the button version */
}

.btn-contact {
    background-color: #fff0f5;
    border-radius: 50px;
    color: #d87093 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
